@import url("reset.css");
@import url("layout.css");
@import url("font-awesome.css");
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Dosis|Patrick+Hand);

/**/

html,
body {
    font-family: Dosis;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    word-spacing: 0px;
    letter-spacing: 0px;
    color: #9f9e9e;
}

.main-nav-container .menu-item a,
.main-nav-container .menu-item .button_open {
    font-family: Patrick Hand;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: #ffffff;
}

.main-nav-container .menu-item a {
    font-size: 18px
}
.ce_title {
    font-family: Patrick Hand;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    color: #26b4d7;
}


/* MAIN COLOR */

.page_footer,
.scroll_top {
    background-color: #26b4d7;
}

.rev_slider_wrapper {
    background-color: #26b4d7 ;
}

/* MENU COLOR */

.header_logo_part.with_border .logo,
.main-nav-container .menu-item a,
.main-nav-container .menu-item:hover>.sub-menu>.menu-item,
.mobile_nav .menu-item,
.mobile_menu_header .mobile_menu_switcher,
.scroll_top:hover {
    background-color: #fec20b;
}

.bees:after,
.tp-leftarrow.round,
.tp-rightarrow.round {
    border-color: #fec20b;
}

/* MENU COLOR HOVER */

.main-nav-container .menu-item:hover>a,
.main-nav-container .menu-item.current-menu-item>a,
.button_section>a:hover {
    background-color: indigo;
}

/* Alignment */

img {
    max-width: 100%;
    height: auto;
}

.a-center {
    text-align: center;
}

/*- HEADINGS */

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
h1 {
    font-size: 2em;
    font-weight: 300;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.67em;
}
/*- \HEADINGS */



/*
\TYPOGRAPHY
*/



/*
GRID
*/

.row_bg {
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.row_bg:not(:first-child),
.grid_row:not(:first-child) {
    padding-top: 30px;
}

.row_bg:not(:last-child),
.grid_row:not(:last-child) {
    padding-bottom: 30px;
}

.row_bg > .grid_row {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 2;
}


.grid_col:not(.grid_col_12) {
    float: left;
}

.grid_col + .grid_col {
    margin-left: 2.5%;
}


/* ? */

.grid_col_4 {
    width: 31.63%;
}

.grid_col_3 {
    width: 23.1%;
}

.grid_col_6 {
    width: 48.745%;
}

.grid_col_8 {
    width: 65.83%;
}

.grid_col_9 {
    width: 74.35%;
}

.grid_col_12 {
    width: 100%;
}

/*
CLEARFIX
*/

.clearfix:after,
.grid:after {
    content: "";
    display: block;
    clear: both;
}


/*
\CLEARFIX
*/


/* 
HEADER 
*/

.site_header {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.site_header.loaded {
    opacity: 1;
}

.site_header .logo {
    display: inline-block;
}

.site_header .header_mask,
.header_mask .header_img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: top center;
    z-index: 998;
    overflow: hidden;
}

.header_img {
    background-image: url(../assets/sunshine.png);
}

.header_pattern {
    background-image: url(../assets/dots-pattern.png);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    z-index: 998;
}

.header_cont {
    width: 100%;
    position: relative;
}

.site_header .header_pattern {
    z-index: 999;
    background-size: auto;
}

.header_mask {
    background-color: #26b4d7;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.header_logo_part.with_border .logo {
    border-width: 6px;
    border-style: solid;
    border-radius: 9px;
}

.site_header .logo>img {
    display: block;
}

.header_logo_part.with_border .logo>img {
    margin: 2px;
    padding: 7px 25px;
    border: 5px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}

.site_header.custom_sticky_logo .header_logo_part .logo>img.logo_sticky,
.site_header.custom_mobile_logo .header_logo_part .logo>img.logo_mobile,
.site_header.sticky.custom_sticky_logo .header_logo_part .logo>img {
    display: none;
}

.site_header.sticky.custom_sticky_logo .header_logo_part .logo>img.logo_sticky {
    display: block;
}

.site_header.logo-in-menu .header_logo_part {
    display: inline-block;
    vertical-align: middle;
}

.site_header.mobile_nav.custom_mobile_logo .header_logo_part .logo>img,
.site_header.sticky.custom_sticky_logo.mobile_nav .header_logo_part .logo>img.logo_sticky,
.site_header.mobile_nav.sticky .header_logo_part .logo>img.logo_mobile {
    display: none;
}

.site_header.mobile_nav .header_logo_part .logo>img.logo_mobile,
.site_header.sticky.custom_sticky_logo.mobile_nav.sticky .header_logo_part .logo>img.logo_sticky {
    display: block;
}


/*
- MENU
*/

.main-nav-container .button_open {
    width: 36px;
    text-align: center;
    display: block;
    float: right;
}

.main-nav-container .button_open:before {
    font-family: FontAwesome;
    content: "\f105";
}

.main-nav-container .menu-item>a {
    display: block;
    padding: 15px 25px;
    position: relative;
    z-index: 1;
}

.main-nav-container .menu-item>a>.canvas_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 3;
}

.main-nav-container .menu-item>a>.canvas_wrapper canvas {
    position: absolute;
    left: -20px;
    top: 0;
    z-index: 1;
}

.main-nav-container .main-menu>.menu-item:first-child>a>.canvas_wrapper canvas {
    left: 0;
}

.main-nav-container .main-menu>.menu-item:last-child>a>.canvas_wrapper canvas {
    left: auto;
    right: 2px;
}

.main-nav-container .main-menu.menu-bees>.menu-item:first-child>a>.canvas_wrapper canvas {
    left: -20px;
}

.main-nav-container .main-menu.menu-bees>.menu-item:last-child>a>.canvas_wrapper canvas {
    right: -20px;
}

.main-nav-container .main-menu.menu-bees>.menu-item:first-child>a>.canvas_wrapper {
    left: -22px;
}

.main-nav-container .main-menu.menu-bees>.menu-item:last-child>a>.canvas_wrapper {
    right: -22px;
}

.main-nav-container .main-menu:not(.menu-bees)>.menu-item:first-child>a {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.main-nav-container .main-menu:not(.menu-bees)>.menu-item:last-child>a {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.mobile_nav .main-nav-container .menu-item>a {
    padding: 2px 15px;
}

.main-nav-container .main-menu>.menu-item>a {
    display: inline-block;
    padding: 15px 25px;
    width: auto;
}

.header_nav_part:not(.mobile_nav) .main-nav-container .menu-item.bees-end {
    margin-right: 55px
}

.header_nav_part:not(.mobile_nav) .main-nav-container .menu-item.bees-start {
    margin-left: 55px;
}

.without-bees .header_nav_part:not(.mobile_nav) .main-nav-container .menu-item.bees-end {
    margin-right: 0px
}

.without-bees .header_nav_part:not(.mobile_nav) .main-nav-container .menu-item.bees-start {
    margin-left: 0px;
}

.main-nav-container .menu-item.bees-end>a {
    margin-right: 30px
}

.main-nav-container .menu-item.bees-start>a {
    margin-left: 30px;
}

.main-menu {
    font-size: 0;
    display: inline-block;
}

.main-nav-container .menu-item>a {
    position: relative;
    z-index: 1;
}

.main-menu>.menu-item {
    display: inline-block;
    vertical-align: middle;
}

.main-menu>.menu-item>a:after,
.main-menu .sub-menu .menu-item>a:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    left: 60%;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
}

.main-menu:not(.menu-bees)>.menu-item>a:after {
    background: #fff !important;
    left: 0;
    right: auto;
    height: 20px;
    top: calc(50% - 10px);
    width: 1px;
}

.main-menu:not(.menu-bees)> .header_logo_part + .menu-item>a:after,
.main-menu:not(.menu-bees)>.menu-item:hover>a:after,
.main-menu:not(.menu-bees)>.menu-item:hover + .menu-item>a:after,
.main-menu:not(.menu-bees)>.menu-item:first-child>a:after,
.main-menu:not(.menu-bees)>.menu-item.current-menu-ancestor>a:after,
.main-menu:not(.menu-bees)>.menu-item.current-menu-ancestor + .menu-item>a:after,
.main-menu:not(.menu-bees)>.menu-item.current-menu-item>a:after,
.main-menu:not(.menu-bees)>.menu-item.current-menu-item + .menu-item>a:after {
    display: none;
}

.main-menu .sub-menu .menu-item>a {
    padding: 6px 25px 6px 35px;
}

.main-menu .sub-menu .menu-item>a:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f111";
    font-size: 7px;
    z-index: 2;
    top: 50%;
    margin-top: -3px;
    left: 20px;
    line-height: 1;
    width: 1.1em;
}

.main-menu .sub-menu .menu-item.menu-item-has-children>a:before {
    content: "\f061";
    font-size: 8px;
}

.main-menu .right .sub-menu .menu-item.menu-item-has-children>a:before {
    content: "\f060";
}

.main-menu .sub-menu .menu-item>a:after {
    left: 0;
    opacity: 0;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
}

.main-menu .sub-menu .menu-item:hover>a:after {
    opacity: 1;
}

.main-menu>.menu-item>a:before {
    content: '';
    position: absolute;
    bottom: -4px;
    height: 5px;
    left: 0;
    right: 0;
}

.main-menu>.menu-item:last-child>a:after {
    background: transparent;
}

.main-nav-container .button_open {
    display: none;
}

.bees {
    display: inline-block;
}

.main-menu .bees {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    display: table-cell;
}

.main-menu .bees.bees-end {
    left: auto;
    right: 0;
}

.main-menu .bees:after {
    content: '';
    position: absolute;
    left: -27px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 0px 32px 27px;
    border-left-color: transparent!important;
    -webkit-transform: scale(.9999);
    -moz-transform: scale(.9999);
    -ms-transform: scale(.9999);
    transform: scale(.9999);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-menu .bees.bees-end:after {
    left: auto;
    right: -27px;
    border-width: 32px 27px 32px 0px;
    border-right-color: transparent!important;
}

.bees>span {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../assets/bees.png') left center;
    animation: play .1s steps(3) infinite;
    -webkit-animation: play .1s steps(3) infinite;
}

.main-menu .bees>span {
    position: absolute;
    z-index: 1;
    top: calc(50% - 33px);
    left: -77px;
}

.main-menu .bees.bees-end>span {
    left: auto;
    right: -77px;
}

.bees.bees-end>span {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.bees>div {
    position: absolute;
    top: calc(50% - 11px);
    bottom: 0;
    right: -30px;
    width: 1px;
    transform: rotate(50deg) translate(4px, 0px);
    -webkit-transform: rotate(50deg) translate(4px, 0px);
    -moz-transform: rotate(50deg) translate(4px, 0px);
    -ms-transform: rotate(50deg) translate(4px, 0px);
    z-index: 1;
}

.bees>div:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e7f0ca;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.bees>div.line-one {
    transform: rotate(-50deg) translate(4px, 0px);
    -webkit-transform: rotate(-50deg) translate(4px, 0px);
    -moz-transform: rotate(-50deg) translate(4px, 0px);
    -ms-transform: rotate(-50deg) translate(4px, 0px);
    bottom: calc(50% - 11px);
    top: 0;
}

.bees.bees-start>div {
    transform: rotate(130deg) translate(4px, 0px);
    -webkit-transform: rotate(130deg) translate(4px, 0px);
    -moz-transform: rotate(130deg) translate(4px, 0px);
    -ms-transform: rotate(130deg) translate(4px, 0px);
    right: auto;
    left: -30px;
}

.bees.bees-start>div.line-one {
    transform: rotate(-130deg) translate(4px, 0px);
    -webkit-transform: rotate(-130deg) translate(4px, 0px);
    -moz-transform: rotate(-130deg) translate(4px, 0px);
    -ms-transform: rotate(-130deg) translate(4px, 0px);
    bottom: calc(50% - 11px);
    top: 0;
}

.main-nav-container .menu-item>.sub-menu>.menu-item:nth-of-type(2)>a,
.main-nav-container .menu-item>.sub-menu>.menu-item:nth-of-type(2) {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-nav-container .menu-item>.sub-menu>.menu-item:nth-last-of-type(1)>a,
.main-nav-container .menu-item>.sub-menu>.menu-item:nth-last-of-type(1) {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 0;
}

.main-nav-container .menu-item>.sub-menu>.menu-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.main-nav-container .sub-menu .sub-menu {
    z-index: 1;
}

.main-nav-container .menu-item>.sub-menu {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
}

@keyframes play {
    100% {
        background-position: -120px;
    }
}

@-webkit-keyframes play {
    100% {
        background-position: -120px;
    }
}


/*
-- DISABLE MOBILE MENU
*/

.mobile_menu_header,
.main-nav-container .sub-menu>.back {
    display: none;
}


/*
-- \DISABLE MOBILE MENU
*/


/*
-- MOBILE MENU
*/

.mobile_nav .main-menu,
.mobile_nav .main-nav-container .sub-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-width: 200px;
    max-width: 370px;
}

.mobile_nav .menu-item {
    display: table;
    width: 100%;
    position: relative;
    margin-left: 0;
    text-align: left;
    box-sizing: border-box;
    padding-left: 0;
}

.mobile_nav .menu-item + *,
.mobile_nav .header_logo_part + .menu-item {
    margin-top: 1px;
}

.mobile_nav .menu-item>a,
.mobile_nav .menu-item>.button_open {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 11;
}

.mobile_nav .main-menu>.menu-item>a {
    border-style: none;
}

.mobile_nav .menu-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.logo-in-menu .header_nav_part {
    width: 100%;
}

.header_nav_part.mobile_nav .main-nav-container .sub-menu .menu-item:not(.back)>a {
    display: table-cell;
}

.header_nav_part.mobile_nav .main-nav-container .menu-item.back>a {
    display: inline-block !important;
    width: 100%;
    box-sizing: border-box;
}


/*
--- RESET DEFAULT MENU
*/

.mobile_nav .main-nav-container .sub-menu,
.mobile_nav .main-nav-container .menu-item:hover>.sub-menu {
    left: auto;
    display: none;
}

.mobile_nav .main-nav-container .menu-item>a {
    padding: 2px 15px;
    font-size: 20px;
    white-space: normal;
}

.mobile_nav .menu-item:hover>a {
    background: transparent;
}

.mobile_nav .mobile_menu_header,
.mobile_nav .main-nav-container .sub-menu>.back {
    display: block;
}

.mobile_nav .main-nav-container .sub-menu {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
}


/*
--- \RESET DEFAULT MENU
*/


/*
--- MOBILE MENU SWITCHER
*/

.mobile_menu_header .mobile_menu_switcher {
    display: none;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
}

.mobile_menu_header .mobile_menu_switcher span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1px;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mobile_nav .mobile_menu_switcher span:first-child {
    -webkit-transform: translate(0, 7px);
    -moz-transform: translate(0, 7px);
    -ms-transform: translate(0, 7px);
    transform: translate(0, 7px);
}

.mobile_nav .mobile_menu_switcher span:last-child {
    -webkit-transform: translate(0, -7px);
    -moz-transform: translate(0, -7px);
    -ms-transform: translate(0, -7px);
    transform: translate(0, -7px);
}

.mobile_nav.opened .mobile_menu_switcher span:first-child,
.mobile_nav.opened .mobile_menu_switcher span {
    -webkit-transform: translate(0, 0px) rotate(-45deg);
    -moz-transform: translate(0, 0px) rotate(-45deg);
    -ms-transform: translate(0, 0px) rotate(-45deg);
    transform: translate(0, 0px) rotate(-45deg);
}

.mobile_nav.opened .mobile_menu_switcher span:last-child {
    -webkit-transform: translate(0, 0px) rotate(45deg);
    -moz-transform: translate(0, 0px) rotate(45deg);
    -ms-transform: translate(0, 0px) rotate(45deg);
    transform: translate(0, 0px) rotate(45deg);
}

.mobile_nav .mobile_menu_header .mobile_menu_switcher {
    display: block;
}


/*
--- \MOBILE MENU SWITCHER
*/


/*
--- MOBILE MENU OPENER
*/

.header_nav_part.mobile_nav .main-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}

.header_nav_part.mobile_nav .main-menu .menu-item,
.mobile_nav .main-nav-container .sub-menu .menu-item {
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.header_nav_part.mobile_nav.opened .main-menu,
.mobile_nav .main-nav-container .sub-menu {
    display: block;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
}

.header_nav_part.mobile_nav.opened .main-menu .menu-item:first-child,
.header_nav_part.mobile_nav.opened .main-menu .menu-item:first-child:before,
.mobile_nav .main-nav-container .sub-menu .menu-item:first-child,
.mobile_nav .main-nav-container .sub-menu .menu-item:first-child:before {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header_nav_part.mobile_nav.opened .main-menu .menu-item:last-child,
.header_nav_part.mobile_nav.opened .main-menu .menu-item:last-child:before,
.mobile_nav .main-nav-container .sub-menu .menu-item:last-child,
.mobile_nav .main-nav-container .sub-menu .menu-item:last-child:before {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header_nav_part.mobile_nav .main-menu .bees {
    display: none;
}

.header_nav_part.mobile_nav .main-nav-container .menu-item.bees-start,
.header_nav_part.mobile_nav .main-nav-container .menu-item.bees-start>a {
    margin-left: 0;
}

.header_nav_part.mobile_nav .main-nav-container .menu-item.current-menu-item>a,
.header_nav_part.mobile_nav .main-nav-container .menu-item a {
    background-color: transparent;
}

.header_nav_part.mobile_nav .main-menu>.menu-item>a:after,
.header_nav_part.mobile_nav .main-menu .sub-menu .menu-item>a:after {
    display: none;
    left: 0;
}

.header_nav_part.mobile_nav .menu-item>.button_open {
    float: none;
    cursor: pointer;
}

.header_nav_part.mobile_nav .main-nav-container .main-menu>.menu-item:before {
    content: "";
    display: block !important;
    position: absolute;
    height: 100%;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(90, 140, 250, 0) 100%);
}

.header_nav_part.mobile_nav .main-nav-container .menu-item>a>.canvas_wrapper {
    display: none;
}


/*
--- \MOBILE MENU OPENER
*/


/*
-- \MOBILE MENU
*/


.main-menu>.menu-item.right .menu-item>.sub-menu,
.main-menu>.menu-item.right>.sub-menu {
    left: auto;
}

.main-menu>.menu-item.right>.sub-menu {
    right: auto;
}

.main-menu>.menu-item.right>.sub-menu {
    right: 0;
}

.main-menu>.menu-item>.sub-menu {
    left: 0;
}

.main-nav-container .sub-menu .menu-item>.sub-menu {
    left: 100%;
}

.main-menu>.menu-item.right .sub-menu .menu-item>.sub-menu {
    right: 100%;
}



/*
-- STICKY-MENU
*/

.site_header .header_box {
    position: relative;
    z-index: 1000;
    padding: 30px 0 45px;
}


/*
-- \STICKY-MENU
*/


/*
- \MENU
*/

header .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site_header.logo-in-menu .container>.header_logo_part,
.site_header.logo-in-menu.mobile_nav .main-menu .header_logo_part {
    display: none;
}

.site_header.logo-in-menu.mobile_nav .container>.header_logo_part {
    display: block;
}

.site_header.logo-in-menu.mobile_nav .container>.header_nav_part .mobile_menu_switcher {
    margin-left: auto;
}

.site_header.logo-center .header_nav_part {
    padding-bottom: 35px;
}

.site_header .header_logo_part {
    line-height: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.site_header.logo-right .header_logo_part {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.site_header.logo-right .header_nav_part {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

header.site_header.logo-center .container {
    display: block;
}

.site_header.logo-center .header_logo_part {
    text-align: center;
}

header.site_header.logo-center .header_nav_part:only-child {
    padding-top: 12px;
    padding-bottom: 12px;
}

.slider_vs_menu .site_header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.tp-leftarrow.round,
.tp-rightarrow.round {
    background-image: none;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
}

.tp-leftarrow.round:before,
.tp-rightarrow.round:before {
    content: "\f053";
    position: absolute;
    top: 0;
    left: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    line-height: 40px;
    font-size: 23px;
    color: #fff;
}

.tp-rightarrow.round:before {
    content: "\f054";
    left: 14px;
}


/*
\HEADER
*/



/*
SCROLL TOP
*/

.scroll_top {
    opacity: 0;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    font-size: 27px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 20;
    border: 2px solid #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.scroll_top:before {
    font-family: FontAwesome;
    content: "\f062";
}



/*
\SCROLL TOP
*/

.cws_portfolio.single .cws_portfolio_items .item > * + * {
    margin-top: 20px;
}

.cws_portfolio.single .cws_portfolio_items .item .desc_part {
    text-align: left;
}

.cws_portfolio.single .cws_portfolio_items .media_part {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.cws_portfolio.single .cws_portfolio_items .ce_title + .media_part {
    margin-top: 0;
}

.cws_portfolio.single .cws_portfolio_items .item>* {
    margin-right: 30px;
}

.cws_portfolio.single .cws_portfolio_items .item {
    margin-right: -30px;
    width: 100%;
}



/*
\SHORTCODES
*/


/*
- BENEFITS AREA
*/

.benefits_area {
    padding: 50px 0;
    border-top-width: 4px;
    border-style: solid;
    border-color: #fff;
    position: relative;
    z-index: 1;
}

.benefits_area.wave {
    background: transparent;
    z-index: 15;
    padding: 30px 0;
    border: 0;
}

.benefits_area .cloud_wrapper {
    position: absolute;
    top: -30px;
    left: 0px;
    width: 100%;
    bottom: -30px;
    overflow: hidden;
    margin: 0;
}

.benefits_area .cloud {
    position: absolute;
    top: 0;
    left: 0px;
}

.benefits_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px 0;
}

.benefits_container .cws-widget {
    -webkit-flex: 1 1 270px;
    -ms-flex: 1 1 270px;
    flex: 1 1 270px;
    min-width: calc(25% - 30px);
    margin: 25px 15px 25px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    box-sizing: border-box;
}

.benefits_area.wave .benefits_container .cws-widget {
    margin: 35px 15px 35px;
}

.benefits_area.wave .cws-widget {
    border-radius: 25% 25% 25% 25%/60% 60% 40% 40%;
    position: relative;
    z-index: 1;
}

.benefits_area.wave .cws-widget:before,
.benefits_area.wave .cws-widget:after,
.benefits_area.wave .cws-widget>*:not(.search-form):before {
    content: '';
    width: 70%;
    height: calc(100% + 60px);
    border-radius: 100%;
    background: #FFF;
    position: absolute;
    top: -30px;
    left: 15%;
    z-index: -1;
}

.benefits_area.wave .cws-widget>*:first-child:not(.search-form):before,
.benefits_area.wave .cws-widget>*:last-child:not(.search-form):before {
    width: 20%;
    max-width: 170px;
    top: auto;
    bottom: -15px;
    right: 18%;
    left: auto;
    height: 100%;
    border-radius: 1000px;
}

.benefits_area.wave .cws-widget>*:last-child:not(.search-form):before {
    right: auto;
    left: 15%;
}

.benefits_area.wave .cws-widget:after {
    width: 28%;
    max-width: 170px;
    top: -19px;
    right: 14%;
    left: auto;
    height: 100%;
    border-radius: 1000px;
}

.benefits_container .cws_textwidget_content,
.benefits_container .widget-title {
    text-align: center;
}

.benefits_container .cws-widget > *:not(:first-child):not(:empty),
.benefits_container .cws-widget .widget_carousel .item > * + *,
.benefits_container .cws-widget .widget_carousel .owl-controls {
    margin-top: 15px;
}

.benefits_container .cws-widget > *:not(.widget-title):not(:empty):not(.widget_carousel),
.benefits_container .cws-widget .widget_carousel .item > * {
    background: transparent;
    border-radius: 0;
}

.benefits_container .cws-widget .widget-title:after {
    display: none;
}

.widget_title_icon_section {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    padding-right: 0.2em;
}

.widget_title_icon_section i {
    width: 1em;
    height: 1em;
    line-height: 1;
}

.widget_title_text_section {
    display: inline-block;
    vertical-align: middle;
}

.cloud_wrapper {
    margin-top: -35px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}



/*
- /BENEFITS AREA
*/


/*
- TOP PANEL
*/

.site_top_panel {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.site_top_panel.wave {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.site_top_panel:not(.wave):after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0;
    background: #fff;
}

.site_top_panel .top_half_sin_wrapper {
    top: calc(100% - 1px);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 8px;
    overflow: hidden;
}

.site_top_panel .top_half_sin {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    top: 0;
    position: absolute;
    z-index: 2;
}




/*
- \TOP PANEL
*/





/*
FOOTER
*/

.footer_wrapper_copyright {
    position: relative;
    z-index: 1;
    background-position: left center;
    background-image: url(../assets/dots-pattern.png);
}

.footer_wrapper_copyright .half_sin,
.footer_wrapper_copyright .footer_half_sin {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_wrapper_copyright .page_footer .container {
    overflow: hidden;
}

.copyrights_area .container {
    z-index: 3;
}

.half_sin_wrapper {
    position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
    width: 100%;
    height: 10px;
    overflow: hidden;
    z-index: 2;
}

.page_footer {
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 0.85);
}

.page_footer .cws-widget ul:not(.tweet_list) li>a,
.page_footer .mini-cart .cart_list {
    color: rgba(255, 255, 255, 0.85);
}

.page_footer:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.page_footer a:hover {
    color: #fff;
}

.footer_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px;
}

.footer_container .cws-widget {
    -webkit-flex: 1 1 270px;
    -ms-flex: 1 1 270px;
    flex: 1 1 270px;
    min-width: calc(25% - 30px);
    margin-left: 30px;
    padding-top: 30px;
    font-weight: 400;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    overflow: hidden;
}
.footer_container .cws-widget ul li {
	padding: 16px 0;
}
.footer_container .cws-widget ul li:first-child {
	padding-top: 0;
}
.footer_container .cws-widget ul li + li,
.footer_container .cws-widget ul.children,
.footer_container .post_item,
.footer_container .cws_tweet,
.footer_container input,
.footer_container textarea,
.footer_container hr {
    border-color: rgba(255, 255, 255, 0.2)
}

.footer_container .cws-widget ul li + li,
.footer_container .cws-widget ul.children,
.footer_container .cws-widget ul.sub-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer_container .post_item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.footer_container .cws-widget .portfolio_item_thumb .pic,
.footer_container #recentcomments>.recentcomments,
.footer_container .post_item .post_thumb_wrapp {
    border-color: #fff;
}

.footer_container .cws-widget .pic .hover-effect {
    background-color: #fff;
}

.footer_container .cws-widget > *:not(:first-child):not(:empty),
.footer_container .cws-widget .widget_carousel .item > * + * {
    margin-top: 0;
}

.footer_container .cws-widget .widget_carousel .owl-controls {
    margin-top: 15px;
}

.footer_container .cws-widget > *:not(.widget-title):not(:empty):not(.widget_carousel),
.footer_container .cws-widget .widget_carousel .item > * {
    background: transparent;
    border-radius: 0;
}

.footer_container .cws_textwidget_content > *,
.footer_container .cws-widget .post_item .post_preview,
.footer_container .cws-widget .post_item .post_date {
    padding: 0;
}

.footer_container .cws-widget {
    font-size: 0.8421em;
    line-height: 1.5;
}

.footer_container .cws-widget .widget-title {
    font-size: 2em;
}

.footer_container .cws-widget .cf {
    text-align: left;
}




/*
\FOOTER
*/


/*
COPYRIGHTS AREA
*/

.copyrights_area {
    position: relative;
    z-index: 1;
    padding: 18px 0;
}

.copyrights_area a:hover {
    color: #fff;
}

.copyrights_area:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

.copyrights_container {
    display: table;
    width: 100%;
}

.copyrights_container > * {
    display: table-cell;
    vertical-align: middle;
}

.copyrights_panel {
    white-space: nowrap;
}

.copyrights_panel_wrapper > * {
    display: inline-block;
    vertical-align: middle;
}

.copyrights_panel_wrapper > * + * {
    margin-left: 8px;
    padding-left: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.copyrights_area .copyrights {
    font-size: 0.7894em;
    line-height: 1;
    font-weight: 400;
    width: 100%;
}

.copyrights_area .cws_social_links .cws_social_link {
    position: relative;
    z-index: 1;
    padding: 5px;
    color: #fff;
    font-size: 0.9em;
}

.copyrights_area .cws_social_links .cws_social_link:before,
.lang_bar ul ul:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    border-radius: 7px;
}

.lang_bar ul ul:before {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(0, 0, 0, 0.65);
}

.lang_bar .lang_sel_list_horizontal li {
    display: table-cell;
    padding-left: 2px;
}

.lang_bar .lang_sel_list_horizontal>ul {
    display: table;
}

.lang_bar .lang_sel_list_horizontal>ul>li {
    padding-right: 10px;
}

.lang_bar .lang_sel_list_horizontal>ul>li:last-child {
    padding-right: 0;
}

#lang_sel_footer {
    display: none;
}

.lang_bar>div>ul {
    padding: 0 20px 0 10px;
    position: relative;
    z-index: 1;
}

.lang_bar>div.lang_sel_list_vertical>ul,
.lang_bar>div.lang_sel_list_horizontal>ul {
    padding: 0 0 0 10px;
}

.lang_bar>div:not(.lang_sel_list_vertical):not(.lang_sel_list_horizontal)>ul:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top-width: 4px;
    border-top-style: solid;
    right: 8px;
    top: calc(50% - 2px);
}

.lang_bar {
    font-size: 0.789em;
}

.lang_bar ul ul {
    position: absolute;
    z-index: 1;
    bottom: calc(100% - 1px);
    left: -999999px;
    opacity: 0;
    display: table;
    padding: 10px;
    padding-bottom: 0;
    padding: 6px 10px 0;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transition: opacity 0.3s ease, left 0.3s step-end;
    -moz-transition: opacity 0.3s ease, left 0.3s step-end;
    -ms-transition: opacity 0.3s ease, left 0.3s step-end;
    transition: opacity 0.3s ease, left 0.3s step-end;
}

.lang_bar ul:hover ul {
    left: 0;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease, left 0.3s step-start;
    -moz-transition: opacity 0.3s ease, left 0.3s step-start;
    -ms-transition: opacity 0.3s ease, left 0.3s step-start;
    transition: opacity 0.3s ease, left 0.3s step-start;
}

.lang_bar ul ul .iclflag {
    padding-right: 0.25em;
}

.lang_bar li:before {
    display: none;
}

.lang_bar li {
    padding: 0;
}

.lang_bar li .iclflag {
    display: inline-block;
    vertical-align: baseline;
    /* position: absolute; */
    left: 0px;
    top: 8px;
}

.lang_bar ul li a {
    position: relative;
    white-space: nowrap;
    line-height: 1;
    padding-left: 18px;
    padding: 7px 2px 7px 3px;
}

.lang_bar ul li {
    display: table-row;
}
.lang_bar ul li img {
	max-width: 100px;
}

/*
\COPYRIGHTS AREA
*/


/*
CWS REVSLIDER
*/

.page_boxed {
    position: relative;
    overflow: hidden;
}

.image_stat_header {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.image_stat_header>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    min-width: calc(100% + 2px);
    min-height: 100%;
}

.fs_video_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    margin-left: -1px;
    margin-right: -1px;
    z-index: -1;
}

.fs_video_slider .rev_slider,
.fs_video_slider .rev_slider_wrapper {
    background: transparent !important;
}

.fs_video_bg,
.fs_video_slider {
    background-color: #fff;
}

.fs_video_slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.fs_video_bg>video,
.fs_video_bg>iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
    max-width: none;
}

.fs_video_bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.fs_video_bg .bg_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: 2;
}


/* the 8 adjustments */




/* rev slider full width in box layout */


@media screen and ( max-width: 1024px) {
	.site_header .header_box {
        padding: 30px 0 25px 0;
    }
    .site_header .logo>img:not(.logo_mobile) {
        max-height: 50px;
        width: auto;
    }
    .header_logo_part.with_border .logo>img:not(.logo_mobile) {
        padding: 0 7px;
        margin: 1px;
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    .header_logo_part.with_border .logo {
        border-width: 4px;
        border-style: solid;
        border-radius: 6px;
    }
    .header_cont {
        border-bottom: 2px solid #fff;
    }
}
@media screen and ( max-width: 767px) {
    .site_header {
        position: relative !important;
    }
    .site_header .header_box {
        padding: 30px 0 25px 0;
    }
    .site_header .logo>img:not(.logo_mobile) {
        max-height: 50px;
        width: auto;
    }
    .header_logo_part.with_border .logo>img:not(.logo_mobile) {
        padding: 0 7px;
        margin: 1px;
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    .header_logo_part.with_border .logo {
        border-width: 4px;
        border-style: solid;
        border-radius: 6px;
    }
    .header_cont {
        border-bottom: 2px solid #fff;
    }
    .page_content.single_sidebar .news .item.medium .media_part,
    .page_content.double_sidebar .news .item.medium .media_part {
        max-width: 570px;
    }
    .news .grid .item.medium .media_part {
        width: calc(100% - 18px);
        max-width: calc(100% - 18px);
    }
    .news .item.large .media_part {
        width: 100%;
    }
    .grid .item,
    .page_content.single_sidebar .grid .item,
    .page_content.double_sidebar .grid .item {
        width: calc(100% - 18px);
        /* for portfolio one column */
    }
    .news .item,
    .page_content.single_sidebar .news .item,
    .page_content.double_sidebar .news .item {
        width: calc(100% - 18px);
    }
    .news .grid .item.medium,
    .news .grid .item.small {
        width: 100%;
    }
    .news.news-medium .post_info_part:not(.full_width),
    .news.news-small .post_info_part:not(.full_width),
    .page_content.double_sidebar .news.news-small .post_info_part:not(.full_width) {
        float: none;
        width: 100%;
        margin-right: auto;
    }
    .grid.grid-2,
    .page_content.single_sidebar .grid.grid-2,
    .page_content.double_sidebar .grid.grid-2,
    .grid.grid-3,
    .page_content.single_sidebar .grid.grid-3,
    .page_content.double_sidebar .grid.grid-3,
    .grid.grid-4,
    .page_content.single_sidebar .grid.grid-4,
    .page_content.double_sidebar .grid.grid-4 {
        margin-right: -30px
    }
    .grid.grid-2 .item,
    .page_content.single_sidebar .grid.grid-2 .item,
    .page_content.double_sidebar .grid.grid-2 .item,
    .grid.grid-3 .item,
    .page_content.single_sidebar .grid.grid-3 .item,
    .page_content.double_sidebar .grid.grid-3 .item,
    .grid.grid-4 .item,
    .page_content.single_sidebar .grid.grid-4 .item,
    .page_content.double_sidebar .grid.grid-4 .item {
        float: left;
        width: calc(49.5% - 30px);
        margin-right: 30px;
        text-align: center;
    }
    .page_content.double_sidebar .grid.grid-2:not(.owl-carousel) .item .media_part,
    .page_content.single_sidebar .grid.grid-3:not(.owl-carousel) .item .media_part,
    .page_content.double_sidebar .grid.grid-3:not(.owl-carousel) .item .media_part,
    .grid_row:not(.related_projects) .grid.grid-4:not(.owl-carousel) .item .media_part,
    .page_content.single_sidebar .grid.grid-4:not(.owl-carousel) .item .media_part,
    .page_content.double_sidebar .grid.grid-4:not(.owl-carousel) .item .media_part {
        width: 270px;
        max-width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
        box-sizing: border-box;
    }
    .cws_sc_carousel .owl-carousel,
    .owl-carousel {
        margin-right: -30px !important;
    }
    .cws_sc_carousel .owl-item .item,
    .owl-item>* {
        margin-right: 30px !important;
        width: calc(100% - 30px) !important;
    }
    .page_title .container {
        width: calc(100% - 40px);
    }
    .grid_col {
        width: 100%;
    }
    .grid_col:not(.grid_col_12) {
        float: none;
    }
    .grid_col + .grid_col {
        margin-top: 30px;
        margin-left: auto;
    }
    .benefits_container,
    .footer_container {
        margin-left: -2%;
        margin-right: -2%;
    }
    .benefits_container .cws-widget,
    .footer_container .cws-widget {
        margin-left: 2%;
        margin-right: 2%;
        -webkit-flex: 1 1 200px;
        -ms-flex: 1 1 200px;
        flex: 1 1 200px;
    }
    .comments-area .comments_children {
        padding-left: 35px;
    }
    .post_content_wrap .meta_cont>* {
        display: block;
        text-align: center !important;
    }
    .copyrights_container > * {
        display: block;
        text-align: center;
    }
    .copyrights_container > * + * {
        padding-top: 10px;
    }
    .post_content_wrap .meta_cont>*+* {
        margin-top: 10px;
    }
    .gallery {
        margin-left: -5% !important;
    }
    .gallery .gallery-item {
        padding-left: 5%;
        margin-bottom: calc(5% - 10px);
    }
    .gallery#gallery-1.gallery-size-large .gallery-item {
	    margin-bottom: 3%;
	}
    .gallery-icon {
        border-width: 3px;
        border-radius: 14px;
    }
    .page_title .container>* {
        display: block;
        text-align: left;
    }
    .page_title .container>.bread-crumbs {
        padding-bottom: 5px;
    }
    .banner_404 {
        font-size: 45vw;
        line-height: 39vw;
    }
    .msg_404 {
        font-size: 6.9vw;
    }
    .msg_404 span {
        font-size: 15vw;
    }
    .not_found .link {
        font-size: 16px;
        padding-top: 20px;
    }
    .grid_row.eq_cols .grid_col.grid_col_4,
    .grid_row.eq_cols .grid_col.grid_col_8 {
        width: 48.65%;
        margin-top: 30px;
    }
    .grid_row.eq_cols .grid_col.grid_col_4:nth-child(1),
    .grid_row.eq_cols .grid_col.grid_col_4:nth-child(2),
    .grid_row.eq_cols .grid_col.grid_col_8:nth-child(1),
    .grid_row.eq_cols .grid_col.grid_col_8:nth-child(2)
    {
        margin-top: 0;
    }
    .grid_row.eq_cols .grid_col.grid_col_4:nth-child(odd),
    .grid_row.eq_cols .grid_col.grid_col_8:nth-child(odd) {
        margin-left: 0;
    }
    .cws_portfolio.single.related .item {
        width: 100%;
    }
    .site_top_panel .mini-cart {
        position: initial;
        transform: initial !important;
        -webkit-transform: initial !important;
        -moz-transform: initial !important;
        -ms-transform: initial !important;
    }
}

@media screen and ( max-width:479px) {
    .grid.grid-2,
    .page_content.single_sidebar .grid.grid-2,
    .page_content.double_sidebar .grid.grid-2,
    .grid.grid-3,
    .page_content.single_sidebar .grid.grid-3,
    .page_content.double_sidebar .grid.grid-3,
    .grid.grid-4,
    .page_content.single_sidebar .grid.grid-4,
    .page_content.double_sidebar .grid.grid-4 {
        margin-right: auto;
    }
    .grid.grid-2 .item,
    .page_content.single_sidebar .grid.grid-2 .item,
    .page_content.double_sidebar .grid.grid-2 .item,
    .grid.grid-3 .item,
    .page_content.single_sidebar .grid.grid-3 .item,
    .page_content.double_sidebar .grid.grid-3 .item,
    .grid.grid-4 .item,
    .page_content.single_sidebar .grid.grid-4 .item,
    .page_content.double_sidebar .grid.grid-4 .item {
        float: none;
        width: 100%;
        margin-right: auto;
    }
    .news .grid .item.medium .media_part,
    .news .grid .item.small .media_part {
        width: calc(100% - 18px);
        max-width: calc(100% - 18px);
    }
    .news .media_part .pic img {
        width: 100%;
    }
    .footer_container .cws-widget {
        padding-left: 0;
    }
    .grid_row.eq_cols .grid_col.grid_col_3,
    .grid_row.eq_cols .grid_col.grid_col_4,
    .grid_row.eq_cols .grid_col.grid_col_6,
    .grid_row.eq_cols .grid_col.grid_col_8,
    .grid_row.eq_cols .grid_col.grid_col_9 {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .grid_row.eq_cols .grid_col.grid_col_3:nth-child(2),
    .grid_row.eq_cols .grid_col.grid_col_4:nth-child(2),
    .grid_row.eq_cols .grid_col.grid_col_6:nth-child(2),
    .grid_row.eq_cols .grid_col.grid_col_8:nth-child(2),
    .grid_row.eq_cols .grid_col.grid_col_9:nth-child(2) {
        margin-top: 30px;
    }
    .grid_row.eq_cols .grid_col:not(:first-child) {
        margin-top: 30px !important;
    }
    .cws_portfolio_header {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .cws_portfolio_header>* {
        width: 100%;
        text-align: center;
    }
    .cws_portfolio_header>.ce_title + * {
        padding-top: 10px;
    }
    .cws_portfolio_header>.ce_title + *>* {
        float: none;
    }
    .cws_portfolio_header .cws_portfolio_filter {
        float: none;
        text-align: left;
        padding-top: 10px;
    }
}


/*
\RESPONSIVE
*/

/**/

.tp-caption.home-h2,
.home-h2 {
    color: rgba(255, 255, 255, 1.00);
    font-size: 65px;
    line-height: 65px;
    font-weight: 400;
    font-style: normal;
    font-family: Patrick Hand;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 1.00);
    border-style: none;
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px
}

.tp-caption.home-h1,
.home-h1 {
    color: rgba(255, 255, 255, 1.00);
    font-size: 80px;
    line-height: 80px;
    font-weight: 400;
    font-style: normal;
    font-family: Patrick Hand;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 1.00);
    border-style: none;
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px
}



/*
- CONTACT FORM
*/

div.cf .cf-form-control-wrap {
    margin-left: 8px;
    text-indent: 0;
}

form.cf-form>p {
    margin-left: -8px;
    margin-bottom: 0;
    text-indent: 8px;
}

form.cf-form>p>*:first-child {
    margin-left: 0;
}

form.cf-form>p:last-child:after {
    clear: both;
    display: table;
    content: "";
}

.cf-form-control.cf-captchac {
    display: inline-block;
    vertical-align: middle;
}

.cf .cf-form-control-wrap {
    margin-bottom: 15px;
    display: inline-block;
    max-width: calc(100% - 8px);
}

.cf label {
    font-weight: 700;
}

.cf input[type="submit"] {
    border-radius: 6px;
    padding: 8px 25px;
    font-size: 1.0211em;
    background-color: #fec20b;
    cursor: pointer;
}



.cf-not-valid {
    border-color: #ff6766;
}

.contact-form .cws_msg_box p {
    color: #ffffff;
    margin: 0;
}


.cf-response-output:after {
    content: "";
}


div.cf-response-output.cf-validation-errors:before {
    content: "\f12a";
}

div.cf-response-output.cf-mail-sent-ok:before {
    content: "\f164";
}

div.cf-validation-errors {
    border: none;
}

.contact-form input.error {
    border-color: #ff6766;
}


.checkmarks_style {
    font-family: FontAwesome;
    color: green;
}

ul.checkmarks_style li:before {
    content: "\f00c";

}



.cws_button.small {
    border-radius: 6px;
    padding: 8px 25px;
    font-size: 1.0211em;
    background-color: #fec20b;
}



.ingredients h3{
color: green;
font-weight: bolder;
}

.ingredients span{
    color: indianred;
    font-weight: bolder;
}

