/*
[RESET DEFAULT SETTINGS]
*/
html, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section,
summary,time, mark, audio, video {	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
 	-webkit-text-size-adjust: none;
 	text-decoration: none;
}
body{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
 	-webkit-text-size-adjust: none;
 	text-decoration: none;	
}
/* HTML5 display-role reset for older browsers */
main, article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section{
	display: block;
}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
*,*:hover,*:focus,*:active,*:visited{
	outline:none;
}
ul,ol{
	margin:0;
	padding:0;
	list-style:none;
}
input, textarea, keygen, select, button{
	font: inherit;
}
h1, h2, h3, h4, h5, h6{
	line-height: 1.2;
}
iframe{
	border-style:none;
}
textarea{
	resize: none;
}
button,
input[type="button"],
input[type="submit"]{
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}
fieldset{
	border-style: none;
}
button,
input[type='submit']{
	-webkit-appearance: none;
	border-radius: 0;
}
*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
